@charset "utf-8";

ul,li{
  list-style: none;
}

img:not([width]){
  width: 100%;
  display: block;
}


@media screen and (min-width: 768px) {
  .container {
    width: 1000px;
    margin: 0 auto;
  }
}

@media screen and (max-width: 767px) {
  .container{
    padding: 0 5px;
  }
}
